<div class="main-content">
  <h2>{{welcomeMessage}}</h2>

  <div class="container">
    <div class="pub-container">
      <img [src]="imageURL" alt="meow-it publication">
    </div>

    <div class="cate-container">
      <div class="title-container">
        <h3>Categories</h3>
      </div>
      <ul class="vertical-list">
        <li [routerLink]="['/category', category1.Id]" class="vertical-list-item left-side">
          <i class="fas fa-leaf"></i>
          <span>Nature</span>
        </li>

        <li class="vertical-list-item left-side">
          <i class="fas fa-user"></i>
          <span>Human</span>
        </li>

        <li class="vertical-list-item left-side">
          <i class="fas fa-paw"></i>
          <span>Animals</span>
        </li>

        <li class="vertical-list-item right-side">
          <i class="fas fa-tree"></i>
          <span>Ambiances</span>
        </li>

        <li class="vertical-list-item right-side">
          <i class="fas fa-music"></i>
          <span>Instruments</span>
        </li>

        <li class="vertical-list-item right-side">
          <i class="fas fa-cog"></i>
          <span>Things</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Users card -->
<div class="main-content">
  <div class="container">
    <h3>Artists</h3>

    <div class="cards-container">
      <app-user-card></app-user-card>
    </div>
  </div>
</div>

<!-- Tracks cards -->
<div class="main-content">
  <div class="container">
    <h3>Sounds</h3>

    <div class="cards-container">
      <!-- [tracks]="tracks" -->
      <app-track-card></app-track-card>
    </div>
  </div>
</div>

