<div class="main-content">
  <h2>{{welcomeMessage}}</h2>

  <div class="container">
    <div class="pub-container">
      <img [src]="imageURL" alt="meow-it publication">
    </div>

    <div class="cate-container">
      <div class="title-container">
        <h3>Categories</h3>
      </div>
      <ul class="vertical-list">
        <li *ngFor="let category of categories" [routerLink]="['/category', category.id]" class="vertical-list-item" [class.left-side]="category.side === 'left'" [class.right-side]="category.side === 'right'">
          <i [class]="category.icon"></i>
          <span>{{ category.name }}</span>
        </li>
      </ul>
    </div>

  </div>
</div>

<!-- Users card -->
<div class="main-content">
  <div class="container">
    <h3>Artists</h3>

    <div class="cards-container">
      <app-user-card></app-user-card>
    </div>
  </div>
</div>

<!-- Tracks cards -->
<div class="main-content">
  <div class="container">
    <h3>Sounds</h3>

    <div class="cards-container">
      <!-- [tracks]="tracks" -->
      <app-track-card></app-track-card>
    </div>
  </div>
</div>

