<div class="main-content">
  <h2>Categorie : CateName</h2>

  <div class="container">

    <div class="pub-container">
      <img [src]="imageURL" alt="meow-it publication">
    </div>

    <h3>Sounds</h3>

    <div class="nothing-found">
      <span>Oops! Nothing Found.</span>
    </div>

    <div class="cards-container">
      <app-track-card></app-track-card>
      <app-track-card></app-track-card>
      <app-track-card></app-track-card>
      <app-track-card></app-track-card>
    </div>
  </div>
</div>
