<app-infos [LoggedId]="loggedInUserId"></app-infos>

<!-- Tracks cards -->
<div class="main-content">
  <div class="container">
    <h3>Sons téléchargés</h3>

    <div class="nothing-found" *ngIf="tracks && tracks.length === 0">
      <span>Oops! La liste est vide.</span>
    </div>

    <div class="cards-container" *ngIf="tracks && tracks.length > 0">
      <app-track-card *ngFor="let track of tracks" [trackData]="track" [user]="userFound"></app-track-card>
    </div>

  </div>
</div>

<!-- Followers card -->
<div class="main-content">
  <div class="container">
    <h3>Suiveuses</h3>

    <div class="nothing-found" *ngIf="followers && followers.length === 0">
      <span>Oops! La liste est vide.</span>
    </div>

    <div class="cards-container" *ngIf="followers && followers.length > 0">
      <app-user-card *ngFor="let follower of followers" [userData]="follower"></app-user-card>
    </div>
  </div>
</div>

<!-- Following card -->
<div class="main-content">
  <div class="container">
    <h3>Suivante</h3>

    <div class="nothing-found" *ngIf="following && following.length === 0">
      <span>Oops! La liste est vide.</span>
    </div>

    <div class="cards-container" *ngIf="following && following.length > 0">
      <app-user-card *ngFor="let flwg of following" [userData]="flwg"></app-user-card>
    </div>

  </div>
</div>
