<div [routerLink]="['/track', myTrack.id]" class="music-card">
  <div class="image-container">
      <img src="assets/images/def/test-image.jpg" alt="Track Image">
  </div>
  <h3 class="music-title">{{ myTrack.title }}</h3>
  <p>{{ myTrack.id }}</p>
  <div class="button-container">
      <button id="heart-btn"><i class="fas fa-heart"></i></button>
      <button id="play-pause-btn"><i class="fas fa-play"></i></button>
      <button id="download-btn"><i class="fas fa-download"></i></button>
  </div>
</div>
