<div class="container">
  <div class="card inverse">
    <div class="left-section">
      <img src="assets/images/auth/register.png" alt="Image d'inscription" class="login-image" />
    </div>
    <form action="" method="POST" class="right-section" enctype="multipart/form-data">
      <div class="logo-image">
        <img src="assets/images/def/meow-it.png" alt="meow-it" />
      </div>

      <h1>Inscription</h1>
      <div class="input-group">
        <i class="fa fa-user"></i>
        <input type="text" name="fullname" placeholder="Nom complet" />
      </div>
      <div class="input-group">
        <i class="fa fa-envelope"></i>
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div class="input-group">
        <i class="fa fa-lock"></i>
        <input type="password" name="password" placeholder="Mot de passe" />
      </div>
      <div class="input-group">
        <div class="upload-details" onclick="">
          <label for="upload-input" class="upload-logo">
            <i class="fa fa-cloud-upload"></i>
          </label>
          <span id="file-name" class="upload-file-name">Choisir une image</span>
        </div>
      </div>

      <button type="submit">S'inscrire</button>
      <p class="create-account">
        Vous avez déjà un compte ?
        <a href="">Se connecter</a>
      </p>
    </form>
  </div>
</div>
