<div class="track-details">
  <form id="upload-form">
    <div class="track-info">

      <label class="titles" for="track-image">Track Image</label>
      <input type="file" id="track-image" name="trackImage" accept="image/*">

      <label class="titles" for="track-name">Track Name</label>
      <input type="text" id="track-name" name="trackName" placeholder="Enter track name">

      <label class="titles" for="category">Category</label>
      <select id="category" name="category">
        <option value="1">Nature</option>
        <option value="2">Human</option>
        <option value="3">Animals</option>
        <option value="4">Ambiances</option>
        <option value="5">Instruments</option>
        <option value="6">Things</option>
      </select>

      <button type="submit" class="button upload-button"><i class="fas fa-upload"></i> Upload Track</button>
    </div>
  </form>
</div>
