.track-details {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

#upload-form {
  display: flex;
  flex-direction: column;
}

.track-info {
  margin-bottom: 20px;
}

.track-name {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="file"],
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.select-wrapper {
  position: relative;
}

.edit-icon {
  margin-top: -30px;
  margin-right: 10px;
  float: right;
  color: #3498db;
  cursor: pointer;
}

button.upload-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
