.track-details {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative; /* Added position relative */
}

.track-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.titles {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="file"],
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

input[type="file"]:hover,
input[type="text"]:hover,
select:hover {
  background-color: #e0e0e0;
}

input[type="file"]:focus,
input[type="text"]:focus,
select:focus {
  outline: none;
  border: 1px solid #4CAF50;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}
