.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.user-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-card img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin-bottom: 5px;
}

.user-card p {
  text-align: center;
  width: 80px;
  font-size: 12px;
  color: #888;
  overflow: hidden;
  margin-bottom: 5px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}


.follow-button {
  background: linear-gradient(45deg, #FF007F, #800080);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.follow-button:hover {
  color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(45deg, #FF1493, #8A2BE2);
}
