.artist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  width: fit-content;
}

.artist-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.artist-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

.follow-button {
  background: linear-gradient(45deg, #FF007F, #800080);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.follow-button:hover {
  color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(45deg, #FF1493, #8A2BE2);
}

.user-info {
  display: flex;
  justify-content: space-around;
}

.first-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.user-info span {
  background-color: #f4f4f4;
  padding: 8px 15px;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .artist-card img {
    width: 60px;
    height: 60px;
  }

  .user-info {
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 4px;
  }

  .user-info span {
    background-color: transparent;
    font-size: 12px;
  }

  .follow-button {
    font-size: 12px;
  }
}
