<div class="track-details">
  <div *ngIf="!editTrack" (click)="edit_track()">Edit Track</div>
  <div *ngIf="editTrack" (click)="go_back()">See details</div>

  <div class="image-container">
    <img *ngIf="trackData" [src]="trackData.image_path" alt="Track Image" />
    <div class="edit-icon"><i class="fas fa-pencil-alt"></i></div>
  </div>

  <div class="track-info">
    <ng-container *ngIf="!editTrack">
      <h2 *ngIf="trackData">
        {{ trackData.title }}
      </h2>
    </ng-container>

    <router-outlet></router-outlet>

    <p>
      <span class="icon"><i class="fas fa-user"></i></span>
      {{ user && user.name }}
    </p>
    <p>
      <span class="icon"><i class="fas fa-clock"></i></span>
      {{ formatTime(trackData.duration) }}
    </p>
    <p>
      <span class="icon"><i class="fas fa-calendar-alt"></i></span>
      {{ trackData.release_date }}
    </p>
  </div>

  <div class="buttons">
    <button class="button play-button"><i class="fas fa-play"></i></button>
    <button class="button heart-button"><i class="fas fa-heart"></i> {{ likesCount }}</button>
    <button class="button download-button">
      <i class="fas fa-download"></i>
    </button>
  </div>
</div>
