<div class="main-container">
  <div class="collect-container">
    <div class="track-details">
      <div class="image-container">
        <img [src]="track.imageURL" alt="Track Image">
        <div class="edit-icon"><i class="fas fa-pencil-alt"></i></div>
      </div>

      <div class="track-info">
        <label class="track-name" for="track-name">{{track.trackName}}</label>
        <input type="text" id="track-name" [value]="track.trackName">
        <p>
          <span class="icon"><i class="fas fa-user"></i></span> {{track.artistName}}
        </p>
        <p>
          <span class="icon"><i class="fas fa-clock"></i></span> {{track.trackDuration}}
        </p>
        <p>
          <span class="icon"><i class="fas fa-calendar-alt"></i></span> {{track.uploadDate}}
        </p>
        <p>
          <span class="icon"><i class="fas fa-heart"></i></span> {{track.likeCount}}
        </p>
      </div>

      <div class="buttons">
        <button class="button play-button"><i class="fas fa-play"></i></button>
        <button class="button heart-button"><i class="fas fa-heart"></i></button>
        <button class="button download-button"><i class="fas fa-download"></i></button>
      </div>
    </div>

    <app-track-owner></app-track-owner>
  </div>
</div>

