.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 600px;
  margin: 60px auto;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 100px;
}

h2 {
  align-self: flex-start;
  margin-left: 100px;
}

.form-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 10px;
  color: #fff;
  margin-bottom: -40px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-with-icon i {
  margin-right: 10px;
  color: #aaa;
}

.input-with-icon input {
  width: 450px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.input-with-icon select {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #888;
  box-sizing: border-box;
}

.form-input:focus, .input-with-icon select:focus {
  outline: none;
  background-color: #fff;
}

.form-section h3 {
  color: #888;
  font-size: 20px;
  margin-bottom: 20px;
}

.error-message {
  position: absolute;
  padding: 20px;
  bottom: 10px;
  left: 30px;
  color: #e74c3c;
  font-size: 14px;
}

.save-button {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background-color: #27ae60;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.save-button:hover {
  background-color: #218f53;
}

.save-button i {
  margin-right: 8px;
}

.form-group:first-of-type, .form-group:first-of-type ~ .form-group {
  color: #888;
}

@media screen and (max-width: 860px) {
  .main-content h2 {
    font-size: 22px;
    width: 60%;
  }

  .container {
    width: 400px;
  }

  .avatar-container {
    max-width: 120px;
    height: 120px;
    margin-bottom: 0;
  }

  .input-with-icon input {
    width: 300px;
    font-size: 12px;
  }

  .input-with-icon select {
    width: 150px;
    font-size: 12px;
  }

  .input-with-icon i {
    font-size: 12px;
  }

  .form-section h3 {
    color: #888;
    font-size: 16px;
  }

  .password-error,
  .password-success,
  .error-message {
    font-size: 12px;
  }

  .error-message {
    left: 10px;
  }

  .save-button {
    font-size: 12px;
  }
}
