<!-- Tested with success -->
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-playback></app-playback> -->
<!-- <app-feed-me></app-feed-me> -->
<!-- <app-track-card></app-track-card> -->
<!-- <app-user-card></app-user-card> -->
<!-- <app-searchbar></app-searchbar> -->
<!-- <app-register></app-register>-->
<!-- <app-settings></app-settings> -->
<!-- <app-notifications></app-notifications> -->
<!-- <app-infos></app-infos> -->
<!-- <app-track-detail></app-track-detail> -->
<!-- <app-track-owner></app-track-owner> -->
<!-- <app-track-edit></app-track-edit> -->

<!-- <app-track-upload></app-track-upload> -->

<!-- Full pages -->
<!-- <app-home></app-home> -->
<!-- <app-search></app-search> -->
<!-- <app-notifications-page></app-notifications-page> -->
<!-- <app-settings-page></app-settings-page> -->
<!-- <app-login-page></app-login-page> -->
<!-- <app-register-page></app-register-page> -->
<!-- <app-profile-page></app-profile-page> -->
<!-- <app-track-page></app-track-page> -->
<!-- <app-edit-track-page></app-edit-track-page> -->
<!-- <app-notfound></app-notfound> -->

<!-- Navbar & Playback elements -->
<ng-container *ngIf="showSidebarAndPlayback">
  <app-upload-button></app-upload-button>
  <app-sidebar></app-sidebar>
  <app-playback></app-playback>
</ng-container>

<!-- Changeable element -->
<router-outlet></router-outlet>

<footer class="site-footer" *ngIf="showSidebarAndPlayback"></footer>
