<div class="music-player">
  <ng-container *ngIf="audioService.checkAudio() === ''; else playbackContent">
    <div class="album-art">
      <img src="assets/images/def/track_cover.jpg" alt="Album Art" />
    </div>
    <div class="track-info">
      <div class="track-title">meow-it Lecture bar</div>
      <div class="track-artist">Meow, meow!</div>
    </div>
    <div class="progress-bar-container">
      <div id="cat"><i class="fas fa-cat"></i></div>
      <progress class="progress-bar"></progress>
    </div>
    <div class="duration">00:00 / 00:00</div>
    <div class="playback-controls">
      <button class="play-pause-btn cat">
        <i class="fas fa-paw"></i>
      </button>
    </div>
  </ng-container>

  <ng-template #playbackContent>
    <div
      class="album-art"
      [ngClass]="{ 'spin-animation': audioService.isGlobalAudioPlaying() }"
    >
      <img [src]="audioService.trackData.image_path" alt="Album Art" />
    </div>
    <div class="track-info">
      <div class="track-title">{{ audioService.trackData.title }}</div>
      <div class="track-artist">{{ audioService.artist?.name }}</div>
    </div>
    <div class="progress-bar-container">
      <button
        *ngIf="audioService.getLikeStats()"
        id="heart-btn"
        [ngClass]="{ liked: audioService.getLikeStats() }"
        (click)="dislikeTrack(audioService.trackData);$event.stopPropagation()"
      >
        <i class="fas fa-heart"></i>
      </button>

      <button
        *ngIf="!audioService.getLikeStats()"
        id="heart-btn"
        (click)="likeTrack(audioService.trackData); $event.stopPropagation()"
      >
        <i class="fas fa-heart"></i>
      </button>

      <progress
        class="progress-bar"
        [value]="getAudioTime()"
        [max]="getValidAudioDuration()"
      ></progress>
    </div>
    <div class="duration">
      {{ getAudioTime() | formatTime }} / {{ getAudioDuration() | formatTime }}
    </div>
    <div class="playback-controls">
      <button
        *ngIf="!audioService.isGlobalAudioPlaying()"
        class="play-pause-btn"
        (click)="playGlobal()"
      >
        <i class="fas fa-play"></i>
      </button>
      <button
        *ngIf="audioService.isGlobalAudioPlaying()"
        class="play-pause-btn"
        (click)="pauseGlobal()"
      >
        <i class="fas fa-pause"></i>
      </button>
    </div>
  </ng-template>
</div>
