<div class="container">
  <div class="card inverse">
    <div class="left-section">
      <img
        src="assets/images/auth/register.png"
        alt="Image d'inscription"
        class="register-image"
      />
    </div>
    <form
      #registerForm="ngForm"
      (ngSubmit)="onSubmit(registerForm)"
      class="right-section"
      [formGroup]="registrationForm"
      action="http://127.0.0.1:8000/api/user/register"
      enctype="multipart/form-data"
    >
      <div class="logo-image">
        <img src="assets/images/def/meow-it.png" alt="meow-it" />
      </div>

      <h1>Inscription</h1>
      <div class="input-group">
        <i class="fa fa-user"></i>
        <input
          type="text"
          name="fullname"
          placeholder="Nom complet"
          formControlName="name"
        />
      </div>
      <div class="input-group">
        <i class="fa fa-envelope"></i>
        <input
          type="email"
          name="email"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="input-group">
        <i class="fa fa-lock"></i>
        <input
          type="password"
          name="password"
          placeholder="Mot de passe"
          formControlName="password"
        />
      </div>

      <div class="input-group">
        <i class="fa fa-info"></i>
        <textarea name="bio" placeholder="Bio" formControlName="bio"></textarea>
      </div>

      <div class="input-group">
        <i class="fa fa-globe"></i>
        <input
          type="text"
          name="country"
          placeholder="Pays"
          formControlName="country"
        />
      </div>

      <div class="input-group">
        <i class="fa fa-building"></i>
        <input
          type="text"
          name="city"
          placeholder="Ville"
          formControlName="city"
        />
      </div>

      <div class="input-group">
        <div class="upload-details" (click)="triggerFileInput()">
          <label for="upload-input" class="upload-logo">
            <i class="fa fa-cloud-upload"></i>
          </label>
          <span id="file-name" class="upload-file-name">{{
            registrationForm.get("image_file")?.value?.name ||
              "Choisir une image"
          }}</span>
        </div>
        <input
          type="file"
          id="upload-input"
          (change)="onFileSelected($event)"
          accept="image/*"
          style="display: none"
        />

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </div>

      <button type="submit">S'inscrire</button>
      <p class="create-account">
        Vous avez déjà un compte ?
        <a routerLink="/login">Se connecter</a>
      </p>
    </form>
  </div>
</div>
