.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.main-content {
  margin: 0;
  padding: 16px;
  text-align: center;
}

.main-content h2 {
  font-size: 100px;
}
