<div class="main-content">
  <h2>Notifications</h2>

  <div
    class="container"
    *ngIf="filteredNotifications && filteredNotifications.length > 0"
  >
    <div *ngFor="let notification of filteredNotifications" class="comment">
      <i [class]="comments[notification.notificationType].iconClass"></i>
      <p>
        {{ notification.senderName }}
        {{ comments[notification.notificationType].notificationMessage }}
      </p>
    </div>
  </div>

  <div
    class="container"
    *ngIf="!filteredNotifications || filteredNotifications.length === 0"
  >
    <!-- Display a message or any content when filteredNotifications is empty -->
    Aucune notification disponible.
  </div>
</div>
