<div class="sidebar-container">
  <div *ngIf="loggedUser" [routerLink]="['/profile', loggedUser[0]?.id]" class="profile-image">
    <img *ngIf="loggedUser[0]?.image_path" [src]="loggedUser[0]?.image_path" alt="Profile Image">
  </div>
  <div class="sidebar">
    <a [routerLink]="['/search']" routerLinkActive="active"><i class="fas fa-search"></i></a>
    <a [routerLink]="['/home']" routerLinkActive="active"><i class="fas fa-home"></i></a>
    <a [routerLink]="['/notifications']" routerLinkActive="active"><i class="fas fa-bell"></i></a>
    <a *ngIf="loggedUser" [routerLink]="['/settings']" routerLinkActive="active"><i class="fas fa-cog"></i></a>
    <a style="cursor: pointer;" (click)="logout()"><i class="fas fa-sign-out-alt"></i></a>
  </div>
</div>
