<div class="main-content">
  <h2>Search</h2>
  <div class="search-container">
    <div class="searchbar-container">
      <button class="search-icon">
        <i class="fas fa-search"></i>
      </button>
      <input type="text" class="search-input" placeholder="">
      <div class="search-filter">
        <div class="filter-list">
          <select>
            <option value="all">All</option>
            <option value="sounds">Sounds</option>
            <option value="user">Users</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
