<app-infos [userData]="userFound" [LoggedId]="loggedInUserId"></app-infos>

<!-- Tracks cards -->
<div class="main-content">
  <div class="container">
    <h3>Uploaded Sounds</h3>

    <div class="nothing-found">
      <span>Oops! The list in empty.</span>
    </div>

    <div class="cards-container">
      <!-- <app-track-card></app-track-card>
      <app-track-card></app-track-card>
      <app-track-card></app-track-card>
      <app-track-card></app-track-card> -->
    </div>
  </div>
</div>

<!-- Followers card -->
<div class="main-content">
  <div class="container">
    <h3>Followers</h3>

    <div class="nothing-found">
      <span>Oops! The list in empty.</span>
    </div>

    <div class="cards-container">
      <!-- <app-user-card></app-user-card>
      <app-user-card></app-user-card>
      <app-user-card></app-user-card>
      <app-user-card></app-user-card> -->
    </div>
  </div>
</div>

<!-- Following card -->
<div class="main-content">
  <div class="container">
    <h3>Following</h3>

    <div class="nothing-found">
      <span>Oops! The list in empty.</span>
    </div>

    <div class="cards-container">
      <!-- <app-user-card></app-user-card>
      <app-user-card></app-user-card>
      <app-user-card></app-user-card>
      <app-user-card></app-user-card> -->
    </div>
  </div>
</div>
