<app-searchbar></app-searchbar>

<!-- Users card -->
<div class="main-content">
  <div class="container">
    <div class="nothing-found">
      <span>Oops! Nothing Found.</span>
    </div>

    <h3>Artists</h3>

    <div class="nothing-found">
      <span>Oops! Nothing Found.</span>
    </div>

    <div class="cards-container">
      <app-user-card></app-user-card>
      <app-user-card></app-user-card>
      <app-user-card></app-user-card>
      <app-user-card></app-user-card>
    </div>
  </div>
</div>

<!-- Tracks cards -->
<div class="main-content">
  <div class="container">
    <h3>Sounds</h3>

    <div class="nothing-found">
      <span>Oops! Nothing Found.</span>
    </div>

    <div class="cards-container">
      <app-track-card></app-track-card>
      <app-track-card></app-track-card>
      <app-track-card></app-track-card>
      <app-track-card></app-track-card>
    </div>
  </div>
</div>
