<div [routerLink]="['/track', trackData.id]" class="music-card" *ngIf="user">
  <div class="image-container">
    <img [src]="trackData.image_path" alt="Track Image" />
  </div>
  <h3 class="music-title">{{ trackData.title }}</h3>
  <p>{{ user.name }}</p>
  <div class="button-container">
    <button
      *ngIf="hasLiked"
      id="heart-btn"
      [ngClass]="{ liked: hasLiked }"
      (click)="dislikeTrack(); $event.stopPropagation()"
    >
      <i class="fas fa-heart"></i>
    </button>

    <button
      *ngIf="!hasLiked"
      id="heart-btn"
      (click)="likeTrack(); $event.stopPropagation()"
    >
      <i class="fas fa-heart"></i>
    </button>

    <button
      *ngIf="audioService.isAudioPlaying(trackData.trackURL)"
      id="play-pause-btn"
      (click)="pause(); $event.stopPropagation()"
    >
      <i class="fas fa-pause"></i>
    </button>
    <button
      *ngIf="!audioService.isAudioPlaying(trackData.trackURL)"
      id="play-pause-btn"
      (click)="play(trackData); $event.stopPropagation()"
    >
      <i class="fas fa-play"></i>
    </button>

    <button id="download-btn" (click)="download(); $event.stopPropagation()">
      <i class="fas fa-download"></i>
    </button>
  </div>
</div>
