<div class="main-content">
  <h2>Profile</h2>
  <div class="container">
    <div class="profile-container">
      <div class="profile-section">
        <div class="profile-pic">
          <img [src]="userData.image_path" alt="{{userData.name}} Profile Picture">
        </div>

        <div class="profile-details">
          <!-- Connected id -->
          <h3>{{ userData.name }} {{ loggedInUserId == userData.id? "(me)":"" }}</h3>
          <p>{{ userData.country }}, {{ userData.city }}</p>
          <p>Joining Date: {{ userData.join_date }}</p>
          <ng-container *ngIf="loggedInUserId != userData.id">
            <button class="follow-button">Follow</button>
          </ng-container>

        </div>
      </div>

      <div class="profile-buttons-container">
        <div *ngFor="let button of user.profileButtons" class="profile-column">
          <div class="profile-button">
            <i [class]="button.iconClass"></i>
            {{ button.count }}
          </div>
        </div>
      </div>
    </div>
    <div class="bio-container">
      <h3>Bio</h3>
      <p>{{ userData.bio }}</p>
    </div>
  </div>
</div>
